name: Fetch Manuscripts

on:
  pull_request:

jobs:
  get-manuscripts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fetch added .manuscript files
        env:
          GH_TOKEN: ${{ github.token }}   # REQUIRED for gh CLI
        run: |
         gh api \
             repos/yashparmar1073/TAcommit/pulls/2/files \
              --jq '.[] | select(.status == "added" and (.filename? | tostring | endswith(".manuscript"))) | .filename' \
              > manuscripts.txt
 

      - name: Show manuscript file names
        run: cat manuscripts.txt

      - name: Fetch manuscript content
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          while read file; do
            echo "=== $file ==="
            gh api repos/yashparmar1073/TAcommit/contents/$file \
              --field ref=refs/pull/2/head \
              --jq '.content' | base64 --decode
            echo
          done < manuscripts.txt
