name: Fetch Manuscripts

on:
  pull_request:

jobs:
  get-manuscripts:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Fetch added .manuscript files
        env:
          GH_TOKEN: ${{ github.token }}   # REQUIRED for gh CLI
        run: |
          gh api \
            repos/yashparmar1073/TAcommit/pulls/2/files \
            --jq '.[] | select(.status == "added" and .filename | endswith(".manuscript")) | .filename' \
            > manuscripts.txt

      - name: Show manuscript file names
        run: cat manuscripts.txt

      - name: Fetch added manuscript files
        env:
         GH_TOKEN: ${{ github.token }}
        run: |
         gh api \
            repos/yashparmar1073/TAcommit/pulls/2/files \
            --jq '.[] | select(.status == "added" and (.filename | endswith(".manuscript"))) | .filename' \
            > manuscripts.txt
